@charset "UTF-8";

*{
	font-family: sans-serif;
	font-size: 25px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}


a{
	background-color: rgb(30,30,30);
	color: white;
	border: 3px solid rgb(30,30,30);
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	margin: 5px 0px;
}

a:hover {
      background-color: white;
      color: rgb(30,30,30);
}

h1{
	display: flex;
	background-color: white;
	color: rgb(30,30,30);
	border: 5px solid rgb(30,30,30);
	border-radius: 5px;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	margin-bottom: 65px;
	padding: 5px;
	height: 100px;
	width: 550px;
	
}

form{
	display: flex;
	flex-direction: column;
}



input[type=text]{
	border: 3px solid rgb(30,30,30);
	border-radius: 5px;
}

input[type=text]:focus{
	outline: none;
	box-shadow: -2px 0 rgb(30,30,30), 0 2px rgb(30,30,30), 2px 0 rgb(30,30,30), 0 -2px rgb(30,30,30);
}

input[type=submit]{
	background-color: rgb(30,30,30);
	border: 5px solid rgb(30,30,30);
	border-radius: 5px;
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin: 5px 0px;
	padding: 13px;
}

input[type=submit]:hover{
	background-color: white;
	border-radius: 5px;
	color: rgb(30,30,30);
}

input[type=radio]{
	border: 3px solid rgb(30,30,30);
	color: rgb(255,128,128);
}

input[type=radio]:hover{
	background-color: rgb(30,30,30);
}



table, tr, th, td{
	border: 3px solid rgb(30,30,30);
	border-collapse: collapse;
	padding: 3px;
	margin: 3px;
}

td{
	padding: 15px;
}

ul{
	list-style-type: none;
}

.buttons{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.topline{
	background-color: rgb(30,30,30);
	color: white;
	font-weight: 900;
	text-align: center;
}

.topline td{
	padding: 5px;
}